/*Brand colors*/
$blue: #004380;
$darkBlue: #002980;

/*Links colors*/
$linkHover: $blue;
$linkActive: $darkBlue;

/*Section Colors*/
$banner-text: #222;
$banner-bg: #afafaf;
$buttonHover: $blue;
$buttonActive: $darkBlue;
